<launch>
  <!-- Namespace for the node and services -->
  <arg name="robot"            default="yumi_robot" />
  
  <!-- Parameters passed to nodes -->
  <arg name="display_output"   default="true" />
  <arg name="left_name"    default="left" />
  <arg name="right_name"   default="right" />
  
  <group ns="$(arg robot)">
    <node name="$(arg left_name)_arm" pkg="yumipy" type="yumi_arm_service.py">
      <param name="name"            value="$(arg left_name)" />
      <param name="display_output"  value="$(arg display_output)" />
    </node>
    
    <node name="$(arg right_name)_arm" pkg="yumipy" type="yumi_arm_service.py">
      <param name="name"            value="$(arg right_name)" />
      <param name="display_output"  value="$(arg display_output)" />
    </node>
    
  </group>
</launch>
